{% extends "window.html" %}

{% block head %}<title>Users list</title>{% endblock %}
{% block subcontent %}
<a class="btn btn-primary btn-lg" href="/users_filter" role="button", style="margin: 0px 100px 32px 100px;">Filter</a>

{% if users == [] %}
<div class="jumbotron jumbotron-fluid" style="">
    <div class="container">
        <h1 class="display-4 text-uppercase ">There's no users</h1>
    </div>
</div>
{% endif %}
{% if message %}
            <div class="alert alert-danger">{{ message }}</div>
{% endif %}
{% for user in users %}
<center>
    <header class="card-header" style="">
        <a class="nav-link" href='/user_posts/{{user.id}}'>
        {{ user.name }} {{ user.surname}}
        </a>
        <div style="position: relative;">
            <img src="{{ user.image }}">
        </div>
        <p> Email: {{ user.email }} </p>
        <p> Age: {{ user.age }} </p>
        <p> Sex: {{ user.sex }} </p>
        <p> ID: {{ user.id }} </p>
        <a class="btn btn-primary btn-lg" href="/add_message?email={{user.email}}" role="button">Texting</a>
    </header>
</center>
{% endfor %}
{% endblock %}