<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% block head %}{% endblock %}
</head>

<body>
<nav class="navbar navbar-dark navbar-expand-sm" style="background-color: #1240AB;">
    <h1 class="navbar-brand" href="#" >SANANSAATTAJA</h1>
        <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href='/'>Общее</a>
            </li>
            {% if current_user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href='/news/public'>Личное</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href='/news/add_message'>+письмо</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href='/add_post'>+пост</a>
            </li>
            {% endif %}

        </ul>
        <ul class="navbar-nav ml-auto">
            {% if current_user.is_authenticated %}
            <li class="navbar-text">{{ current_user.name }}</li>
            <li class="nav-item">
                <a class="nav-link" href='/logout'>Выход</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href='/login'>Вход</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href='/register'>Регистрация</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>

<h4 class="p-3 text-muted">Пишите, сохраняйте, делитесь</h4>

<main class="container-fluid">{% block content %}{% endblock %}</div>
</body>

</html>