{% extends 'base.html' %}

{% block head %}<title>FAQ</title>{% endblock %}

{% block content %}
<center>
    {% if message %}
        <div class="alert alert-danger">{{ message }}</div>
    {% endif %}
    <div style="text-align: center;">
        <div class="card bg-light mb-3" style="max-width: 30rem;">
            <div class="card-header">
                <h5 class="card-title"><i class="fas fa-question"></i> Constantly doesn't load and
                    crashes!</h5>
            </div>
            <div class="card-body">
                <h5 class="card-title"><i class="fas fa-at"></i> Well, it doesn't work, what's the
                    buzz.</h5>
            </div>
        </div>
        <div class="card bg-light mb-3" style="max-width: 30rem;">
            <div class="card-header">
                <h5 class="card-title"><i class="fas fa-question"></i> Where can I complain about
                    errors and my broken psyche?</h5>
            </div>
            <div class="card-body">
                <h5 class="card-title"><i class="fas fa-at"></i>
                    <a href="https://github.com/KEZKA/YL-WEB-PROJECT">Here</a>, but hardly we'll
                    answer.</h5>
            </div>
        </div>
        <div class="card bg-light mb-3" style="max-width: 30rem;">
            <div class="card-header">
                <h5 class="card-title"><i class="fas fa-question"></i> What does "It's not a personal
                    note" mean when I add post?</h5>
            </div>
            <div class="card-body">
                <h5 class="card-title"><i class="fas fa-at"></i> It means that you can find this post
                    as a note
                    <a href="/notes">here</a> and nobody will see it.</h5>
            </div>
        </div>
        <div class="card bg-light mb-3" style="max-width: 30rem;">
            <div class="card-header">
                <h5 class="card-title"><i class="fas fa-question"></i> Why can't I add friends?</h5>
            </div>
            <div class="card-body">
                <h5 class="card-title"><i class="fas fa-at"></i> Because you can't have friends, huh!
                    In fact, we want it to be available in the future.</h5>
            </div>
        </div>
        <div class="card bg-light mb-3" style="max-width: 30rem;">
            <div class="card-header">
                <h5 class="card-title"><i class="fas fa-question"></i> How can I understand who to
                    write to?</h5>
            </div>
            <div class="card-body">
                <h5 class="card-title"><i class="fas fa-at"></i> You can choose or find someone <a
                        href="/users">here</a>.</h5>
            </div>
        </div>
        <div class="card bg-light mb-3" style="max-width: 30rem;">
            <div class="card-header">
                <h5 class="card-title"><i class="fas fa-question"></i> Why can't I edit messages and
                    posts?</h5>
            </div>
            <div class="card-body">
                <h5 class="card-title"><i class="fas fa-at"></i> Say thanks that you can delete them.
                </h5>
            </div>
        </div>
        <div class="card bg-light mb-3" style="max-width: 30rem;">
            <div class="card-header">
                <h5 class="card-title"><i class="fas fa-question"></i> What is FAQ?</h5>
            </div>
            <div class="card-body">
                <h5 class="card-title"><i class="fas fa-at"></i> What?</h5>
            </div>
        </div>
        <div class="card bg-light mb-3" style="max-width: 30rem;">
            <div class="card-header">
                <h5 class="card-title"><i class="fas fa-question"></i> I need to change my personal
                    data.</h5>
            </div>
            <div class="card-body">
                <h5 class="card-title"><i class="fas fa-at"></i> You can change your name, picture,
                    password and etc. <a href="/edit_page">here</a>.</h5>
            </div>
        </div>
    </div>
</center>
{% endblock %}