{% extends 'base.html' %}

{% block head %}<title>Info</title>{% endblock %}

{% block content %}
    {% if message %}
        <div class="alert alert-danger">{{ message }}</div>
    {% endif %}
    <div style="text-align: center;">
        <h1> Sanansaattaja </h1>
        <p> is a small and easy-to-use messenger to to discuss topics,</p>
        <p> with a nice and minimalistic client part. </p>
        <p> This web app is designed to help you</p>
        <p> communicate with your friends, this is </p>
        <p> possible due to an understandable and comfortable to </p>
        <p> use website and a well-written server part. </p>
    </div>
{% endblock %}