{% extends 'base.html' %}

{% block head %}<title>Main</title>{% endblock %}

{% block content %}
{% if message %}
            <div class="alert alert-danger">{{ message }}</div>
{% endif %}
{% if posts == [] %}
<div class="jumbotron">
    <h1 class="display-4 text-uppercase" align="center">There're no posts here yet</h1>
</div>

{% endif %}
{% for post in posts %}

<div class="jumbotron" style="margin: 0px 100px 22px 100px;">
    <h4> <a class="nav-link" href='/user_posts/{{post.author.id}}'> {{post.author.name}} {{post.author.surname}} </a></h4>
    <p class="lead"> {{ get_date(post.modified_date) }} </p>
    <p class="display"> {{post.topic.upper()}} </p>
    <p>{{post.text}}</p>
</div>
{% endfor %}

{% endblock %}