{% extends 'base.html' %}

{% block head %}<title>Main</title>{% endblock %}

{% block content %}
{% if message %}
            <div class="alert alert-danger">{{ message }}</div>
{% endif %}
{% if posts == [] %}
<div class="jumbotron jumbotron-fluid" style="margin: 0px 100px 32px 100px;">
    <div class="container">
        <h1 class="display-4 text-uppercase ">There's nothing here yet</h1>
    </div>
</div>

{% endif %}
{% for post in posts %}

<div class="jumbotron jumbotron-fluid" style="margin: 0px 100px 32px 100px;">
    <div class="container">
        <p align="right" class="font-weight-light text-info ">
            {{post.modified_date}} <br> <a class="nav-link" href='/user_posts/{{post.author.email}}'> {{post.author.name}} {{post.author.surname}}</a> {{post.author.email}}</p>
        <h1 class="display-4 text-uppercase ">{{post.topic}}</h1>
        <p class="lead"> {{post.text}}</p>
    </div>
</div>
{% endfor %}

{% endblock %}