{% extends 'base.html' %}

{% block head %}<title>Main</title>{% endblock %}

{% block content %}
<form class="form-inline my-2 my-lg-0" action="" method="POST">
        {{ form.hidden_tag() }}
        {{ form.csrf_token }}
        {% if message %}
            <div class="alert alert-danger">{{ message }}</div>
        {% endif %}
        {{ form.text(class="form-control mr-sm-2", placeholder="Search") }}  {{ form.submit(class="btn btn-secondary my-2 my-sm-0", type="submit") }}
    </form>
<br>

    {% if message %}
        <div class="alert alert-danger">{{ message }}</div>
    {% endif %}

    {% if posts == [] %}
        <div class="jumbotron">
            <h1 class="display-4 text-uppercase" align="center">There're no posts here yet</h1>
        </div>
    {% endif %}



    {% for post in posts %}

        <div class="jumbotron" style="margin: 0px 100px 22px 100px;">
            <h4>
                <a class="nav-link" href='/user_page/{{ post.author.id }}'>
                    {{ post.author.name }} {{ post.author.surname }}
                </a>
            </h4>
            <p class="font-weight-light text-info" style="text-align: left">
                {{ post.get_normal_date() }} by {{ post.author.nickname }}
            </p>
            <h3> {{ post.topic.upper() }} </h3>
            <p class="lead" style="white-space: pre-line">{{ post.text }}</p>
            <br>
            <a class="btn btn-primary btn-lg"
                   href="/add_comment/post/{{post.id}}" role="button">
                    <i class="far fa-comment"></i> Сomment </a>
            <a class="btn btn-primary btn-lg"
                   href="/comments/post/{{post.id}}" role="button">
                    <i class="far fa-comments"></i> Comments </a>

        </div>

    {% endfor %}

{% endblock %}