{% extends 'base.html' %}

{% block head %}<title>Your notes</title>{% endblock %}

{% block content %}
{% if message %}
            <div class="alert alert-danger">{{ message }}</div>
{% endif %}
{% if notes == [] %}
<div class="jumbotron jumbotron-fluid" style="margin: 0px 100px 32px 100px;">
    <div class="container">
        <h1 class="display-4 text-uppercase ">There's nothing here yet</h1>
    </div>
</div>

{% endif %}
{% for note in notes %}

<div class="jumbotron jumbotron-fluid" style="margin: 0px 100px 32px 100px;">
    <div class="container">
        <p align="right" class="font-weight-light text-info ">{{note.modified_date}}</p>
        <h1 class="display-4 text-uppercase ">{{note.topic}}</h1>
        <p class="lead"> {{note.text}}</p>
        <a class="btn btn-primary btn-lg" href="/notes?post_id={{note.id}}" role="button">Delete</a>
    </div>
</div>
{% endfor %}

{% endblock %}