{% extends 'base.html' %}

{% block content %}
{% for message in messages %}

<div class="jumbotron jumbotron-fluid" style="margin: 0px 100px 32px 100px;">
    <div class="container">
        {% if message.author_id == current_user.id %}
        <p align="right" class="font-weight-light text-info ">{{message.addressee.name}} {{message.addressee.surname}},
            {{message.modified_date}} <br> {{message.addressee.email}}</p>
        <p class="lead"> {{message.text}}</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Texting</a>
        {% else %}
        <p align="right" class="font-weight-light text-info ">{{message.author_id.name}} {{message.author_id.surname}},
            {{message.modified_date}} <br> {{message.author_id.email}}</p>
        <p class="lead"> {{message.text}}</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Reply to</a>
        {% endif %}
    </div>
</div>
{% endfor %}

{% endblock %}