{% extends 'window.html' %}

{% block head %}<title>{{ user.name }}'s page</title>{% endblock %}

{% block content %}
{% if message %}
            <div class="alert alert-danger">{{ message }}</div>
{% endif %}
<center>
<header  class="card-header" style="width:40%">{{ user.name }} {{ user.surname}}
        <div style="position: relative;">
            <img src="{{ user.image }}">
        </div>
        <p> Email: {{ user.email }} </p>
        <p> Age: {{ user.age }} </p>
        <p> Sex: {{ user.sex }} </p>
        <p> ID: {{ user.id }} </p>
    {% if current_user != user%}
    <a class="btn btn-primary btn-lg" href="/add_message?email={{user.email}}" role="button">Texting</a>
    {% endif %}
</header>
<p>---------------</p>
</center>
{% if posts == [] %}
<div class="jumbotron jumbotron-fluid" style="margin: 0px 100px 32px 100px;">
    <div class="container">
        <h1 class="display-4 text-uppercase ">There's nothing here yet</h1>
    </div>
</div>

{% endif %}
{% for post in posts %}
<div class="jumbotron jumbotron-fluid" style="margin: 0px 100px 32px 100px;">
    <div class="container">
        <p align="right" class="font-weight-light text-info ">
            {{post.modified_date}} <br> {{post.author.name}} {{post.author.surname}}, {{post.author.email}}</p>
        <h1 class="display-4 text-uppercase ">{{post.topic}}</h1>
        <p class="lead"> {{post.text}}</p>
        {% if current_user== user%}
            <a class="btn btn-primary btn-lg" href="/user_posts/{{user.email}}?post_id={{post.id}}" role="button">Delete</a>
        {% endif %}

    </div>
</div>
{% endfor %}
{% endblock %}