{% extends "window.html" %}

{% block head %}<title>Users list</title>{% endblock %}
{% block subcontent %}
    <br>
    <a class="btn btn-success" href="/users_filter" role="button" ,
       style="margin: 0px 100px 32px 100px;">
        <h5><i class="fas fa-search"></i> Filter</h5></a>

    {% if users == [] %}
        <div class="jumbotron">
            <h1 class="display-4 text-uppercase" align="center">There're no users</h1>
        </div>
    {% endif %}
    {% if message %}
        <div class="alert alert-danger">{{ message }}</div>
    {% endif %}
    {% for user in users %}
        <div style="text-align: center;">
            <header class="card w-90" style="margin: 0 5px 15px 5px;">
                <a class="nav-link" href='/user_page/{{ user.id }}'><b>
                    {{ user.name }} {{ user.surname }}
                </b></a>
                <table style="width: 350px; margin-left: auto; margin-right: auto; margin-bottom: 10px">
                    <tr style="width: 30%">
                        <td style="text-align: left;">
                            <div style="position: relative;">
                                <img src="{{ url_for('make_image', user_id=user.id) }}?{{ range(100, 1000000000) | random }}"
                                     style="width: 100px; height: 100px; border-radius: 50%;">
                            </div>
                        </td>
                        <td>
                            <p> Nickname: {{ user.nickname }} </p>
                            <p> Age: {{ user.age }} </p>
                            <p> Sex: {{ user.sex }} </p>
                            <p> ID: {{ user.id }} </p>
                        </td>
                    </tr>
                </table>
                {% if current_user != user %}
                    <a class="btn btn-primary btn-lg" href="/add_message?nickname={{ user.nickname }}"
                       role="button">Write to {{ user.name }}</a>
                {% endif %}
            </header>
            <br>
        </div>
    {% endfor %}
{% endblock %}